@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bim-color: #1a988c;
  --font-bim-medium: var(--font-klavika); /* CORRETTO */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto);
  --font-mono: var(--font-roboto-mono);
  --bim-color: var(--bim-color);
  --font-bim-medium: var(--font-klavika); /* CORRETTO */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --bim-color: #1a988c;
  }
}

html,
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE e Edge */
  box-sizing: border-box;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-bim-medium); /* Usa la variabile */
}
